{%extends 'sprinkler/base.html'%}
{%block middle_col%}

        <ul class="list-unstyled">
        {% for l in log %}
          <li class="text-{% if l.4 %}info{% else %}warning{% endif %}">
              {% if l.0 != 'DEBUG' %}<strong>{% endif %}
               {{l.1}}: {{l.3}}
              {% if l.0 != 'DEBUG' %}</strong>{% endif %}
          </li>
        {% endfor %}
        </ul>

{%endblock%}

{%block script%}

{%endblock%}

{%block document_ready%}

    $("#left_col").removeClass()
    $("#middle_col").removeClass()
    $("#right_col").removeClass()
    $("#left_col").addClass("col-lg-2 col-md-2 hidden-sm hidden-xs")
    $("#middle_col").addClass("col-lg-8 col-md-8 col-sm-12 col-xs-12")
    $("#right_col").addClass("col-lg-2 col-md-2 hidden-sm hidden-xs")
{%endblock%}

