{%extends 'sprinkler/base.html'%}
{%block middle_col%}

{% for l in log %}
  {{l|linebreaksbr}}
{% endfor %}
{%endblock%}

{%block script%}

{%endblock%}

{%block document_ready%}

    $("#left_col").removeClass()
    $("#middle_col").removeClass()
    $("#right_col").removeClass()
    $("#left_col").addClass("col-lg-2 col-md-2 hidden-sm hidden-xs")
    $("#middle_col").addClass("col-lg-8 col-md-8 col-sm-12 col-xs-12")
    $("#right_col").addClass("col-lg-2 col-md-2 hidden-sm hidden-xs")
{%endblock%}

